<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>net.ruedigerfranke.bind-glow-to-webcam</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/rfranke/.asdf/shims/bind-glow-to-webcam</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
  <key>StandardErrorPath</key>
  <string>/Users/rfranke/log/bind-glow-to-webcam-error.log</string>
  <key>StandardOutPath</key>
  <string>/Users/rfranke/log/bind-glow-to-webcam.log</string>
</dict>
</plist>
